---
import Navigation from '../components/Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<style>
    header {
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  </style>
<header>
    <nav>
      <Hamburger />
      <Navigation />
    </nav>
</header>